In [1]:
print("python class")

python class

In [4]:
num = 8 
print(num + 7)

15

In [ ]:
num = ["Nepal", "India", " China"]
num.clear()
print(num)

[]

In [7]:
sports = ["a", "b", "c", "d"]
sports[2:3]

['c']

In [16]:
sports = [1,8,3,0,5, 4]
sports.sort(reverse=True)
print(sports)

[8, 5, 4, 3, 1, 0]

In [ ]:
school = ["ccrc", "kist", "ismt"]
school.remove("kist")
print(school)

['ccrc', 'ismt']

In [ ]:
shoes = [{
    "name": "hari",
    "age":2
}, 
["1","2"]]
shoes.pop()

'tbl'

In [22]:
man = ["hari","ram", "shyam"]
man.extend(["ravi","om", "ujjwal"])
print(man)

['hari', 'ram', 'shyam', 'ravi', 'om', 'ujjwal']

In [ ]:
player = ["messi", "cristiano", "neymar", "mbappe"]
player[0] = "kismat"
print(player)

['kismat', 'cristiano', 'neymar', 'mbappe']